In [ ]:
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

In [ ]:
df=pd.read_csv('Chapter6_PVT Data.csv')
df.head()

   Temperature           Rs  Gas Gravity    Oil API          Pbp
0   124.224811   983.507201     1.095773  27.378218  3094.473796
1   105.670201  1118.311927     1.264539  30.497141  2593.138497
2   220.984279   255.071907     0.840619  37.779038  1118.302194
3   244.728321    48.801731     1.109872  35.049613   232.011706
4   104.153879    75.385002     0.889540  24.543380   421.236666

In [ ]:
df[np.isclose(df['Rs'], 783.493335)] # to search for floats

    Temperature          Rs  Gas Gravity    Oil API          Pbp
98   132.967238  783.493335     0.862918  35.441811  2497.205403

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [ ]:
x=df.drop(['Pbp'], axis='columns')
y=df['Pbp']

In [ ]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=50)

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [ ]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

svr=SVR() #kernel='rbf', degree=3, gamma='scale', coef0=0.0, tol=0.001, C=1.0, epsilon=0.1, shrinking=True, cache_size=200, verbose=False, max_iter=-1

rfr=RandomForestRegressor() #n_estimators=100, *, criterion="squared_error", max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0, max_features="auto", max_leaf_nodes=None, min_impurity_decrease=0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, ccp_alpha=0,

model={
    'svr': {'model':svr , 'params': { 'kernel': ['rbf', 'linear'], 'tol': [0.001, 0.01,0.0001], 'C': [0.1,0.01, 1]}
            },
       'rfr' : {'model':rfr, 'params': {'n_estimators': [10,70, 100,200], 'min_samples_split': [2,4,5,6,7,10,13,17,20], 'min_samples_leaf':[2,4,5,6,7,10,13,17,20], 'max_depth': [2,4,5,6,7,10,13,17,20]
                                        }
                }
       
       
       
       }

In [ ]:
pd.DataFrame(model)

,svr,rfr
model,SVR(),RandomForestRegressor()
params,"{'kernel': ['rbf', 'linear'], 'tol': [0.001, 0...","{'n_estimators': [10, 70, 100, 200], 'min_samp..."

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
scores=[]
for mn, mp in model.items():
  clf=RandomizedSearchCV(mp['model'], mp['params'])
  clf.fit(x_train, y_train)
  scores.append({'model_name:': mn,
                 'best_score:': clf.best_score_,
                 'best_params:': clf.best_params_
                 })

In [ ]:
scores

[{'best_params:': {'C': 1, 'kernel': 'rbf', 'tol': 0.001},
  'best_score:': -0.11062887805908714,
  'model_name:': 'svr'},
 {'best_params:': {'max_depth': 7,
   'min_samples_leaf': 2,
   'min_samples_split': 7,
   'n_estimators': 70},
  'best_score:': 0.907948665921737,
  'model_name:': 'rfr'}]

In [ ]:
rfr=RandomForestRegressor(n_estimators=70,min_samples_split=7, min_samples_leaf=2,max_depth=7)

In [ ]:
lopi=rfr.fit(x_train, y_train)

In [ ]:
XX=x_test
XX=scaler.inverse_transform(XX)
XX=pd.DataFrame(XX, columns=x.columns)
XX

    Temperature          Rs  Gas Gravity    Oil API
0    132.967238  783.493335     0.862918  35.441811
1    176.809181  675.909493     0.996452  29.839295
2    176.567334  365.084340     0.920258  34.548304
3    161.731848  901.952228     1.053166  25.545117
4    153.259691  102.827972     1.091512  38.316626
..          ...         ...          ...        ...
70   276.768486  284.305300     1.035585  31.114087
71   134.100536  708.098329     1.002981  37.500336
72   110.502327  286.683202     0.967709  29.935224
73   140.101044  448.673981     0.972365  36.755217
74   244.728321   48.801731     1.109872  35.049613

[75 rows x 4 columns]

In [ ]:
tu=tuple(list(df['Pbp']))

In [ ]:
x.head(1)

   Temperature          Rs  Gas Gravity    Oil API
0   124.224811  983.507201     1.095773  27.378218

In [ ]:

lopi=rfr.predict(x_test)
lopi

array([2277.46642911, 2324.05030564, 1340.57198287, 3137.86194661,
        377.98857791, 1365.61209123,  715.14588783,  949.65370101,
       2008.68604476, 3250.22398864, 1951.7307011 , 1188.81136422,
       1113.04722986, 1053.16311345,  518.84590129, 1376.00213485,
        276.82845475,  884.51554978, 1618.2976146 , 2313.86919711,
        695.41578772,  320.42442672, 2600.23593311, 1032.61577014,
       1771.31247465, 2414.66695838, 2651.99067727, 3487.51417885,
        748.50749056,  410.77753147, 2037.10986621,  418.99737143,
        350.37486516, 1578.79463797, 2348.40006312, 1083.95294958,
       1817.08632398,  352.3267644 , 1724.03376982,  718.87128199,
       1586.79477235, 3363.37303488, 1321.35139796, 1382.40676312,
        334.27776434, 1158.36652436,  688.38451227, 2994.99082296,
       2564.89169934,  331.7843417 ,  720.16250902, 1121.49452895,
        992.49430816,  306.18868903,  663.65264003, 1808.86100777,
       1789.16189362,  266.39727183, 1377.21776154,  660.46024966,
       1250.39528081,  697.94778312, 2161.38677325,  353.32316293,
        521.43199976, 2032.62778172,  265.16506852, 1000.17468273,
       3144.17203723,  227.0076567 , 1215.95443477, 1984.98523558,
       1047.03607107, 1599.63709312,  272.13641177])

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, lopi)

# 2nd trial

In [ ]:
from google.colab import files
files.upload()

In [ ]:
df=pd.read_csv('Chapter6_Shale Gas Wells.csv')
df.head()

,Stage Spacing,bbl/ft,Well Spacing,Dip,Thickness,Lateral Length,Injection Rate,Porosity,ISIP,Water Saturation,Percentage of LG,Pressure Gradient,Proppant Loading,EUR
0,140,38,850,0,165,8543,64,8.3,8200,17.1,38.0,0.95,3012,13.3
1,140,30,900,0,174,8336,60,7.8,8061,16.0,59.3,0.95,2771,12.5
2,140,30,900,0,174,9361,65,7.8,8061,16.0,59.3,0.95,3067,16.9
3,140,30,950,0,175,9110,69,8.3,7922,15.7,66.9,0.95,3130,16.5
4,140,30,950,0,175,9310,67,8.3,7922,15.7,66.9,0.95,2991,17.4

In [ ]:
x=df.drop(['EUR'], axis='columns')
y=df['EUR']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.3, random_state=50)

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

X_train=scaler.fit_transform(x_train)
X_test=scaler.transform(x_test)

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

knn=KNeighborsRegressor()# n_neighbors=5, *, weights="uniform", algorithm="auto", leaf_size=30, p=2, metric="minkowski"
svr=SVR()
rfr=RandomForestRegressor()

In [ ]:

model= { 'knn':{'model':knn, 'params':{'n_neighbors':[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 'leaf_size':[2,4,5,6,7,10,13,17,20], 'metric':['minkowski', 'euclidean']}},
        
        'rfr':{'model': rfr, 'params':{'n_estimators':[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20, 30,40,50,70,100], 'min_samples_split': [2,4,5,6,7,10,13,17,20], 'min_samples_leaf':[2,4,5,6,7,10,13,17,20], 'max_depth': [2,4,5,6,7,10,13,17,20]}},

        'svr': {'model':svr, 'params':{'kernel': ['rbf', 'linear'], 'tol': [0.1,0.01,0.001],'C': [0.1,0.01, 1]}}
    










}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
scores=[]
result=[]
for mn, mp in model.items():
  clf=RandomizedSearchCV(mp['model'], mp['params'], cv=5)
  clf.fit(X_train, y_train)
  scores.append({'model name:': mn, 'best parameters:': clf.best_params_, 'best score:': clf.best_score_})
  result.append({'model name:':mn, 'best estimator:':clf.best_estimator_, 'best parameters:': clf.best_params_, 'best score:': clf.best_score_})

pd.DataFrame(scores)

  model name:                                   best parameters:  best score:
0         knn  {'n_neighbors': 2, 'metric': 'euclidean', 'lea...     0.693850
1         rfr  {'n_estimators': 100, 'min_samples_split': 7, ...     0.813518
2         svr            {'tol': 0.001, 'kernel': 'rbf', 'C': 1}     0.717201

In [ ]:
result

[{'best estimator:': KNeighborsRegressor(leaf_size=5, metric='euclidean', n_neighbors=2),
  'best parameters:': {'leaf_size': 5,
   'metric': 'euclidean',
   'n_neighbors': 2},
  'best score:': 0.6938500684221384,
  'model name:': 'knn'},
 {'best estimator:': RandomForestRegressor(max_depth=6, min_samples_leaf=5, min_samples_split=7),
  'best parameters:': {'max_depth': 6,
   'min_samples_leaf': 5,
   'min_samples_split': 7,
   'n_estimators': 100},
  'best score:': 0.8135179692945027,
  'model name:': 'rfr'},
 {'best estimator:': SVR(C=1),
  'best parameters:': {'C': 1, 'kernel': 'rbf', 'tol': 0.001},
  'best score:': 0.7172010158620091,
  'model name:': 'svr'}]

In [ ]:
RFR=RandomForestRegressor(max_depth=6, min_samples_leaf=5, n_estimators=100,min_samples_split=7)
RFR.fit(X_train, y_train)

RandomForestRegressor(max_depth=6, min_samples_leaf=5, min_samples_split=7)

In [ ]:
df

,Stage Spacing,bbl/ft,Well Spacing,Dip,Thickness,Lateral Length,Injection Rate,Porosity,ISIP,Water Saturation,Percentage of LG,Pressure Gradient,Proppant Loading,EUR
0,140,38,850,0,165,8543,64,8.3,8200,17.1,38.0,0.95,3012,13.3
1,140,30,900,0,174,8336,60,7.8,8061,16.0,59.3,0.95,2771,12.5
2,140,30,900,0,174,9361,65,7.8,8061,16.0,59.3,0.95,3067,16.9
3,140,30,950,0,175,9110,69,8.3,7922,15.7,66.9,0.95,3130,16.5
4,140,30,950,0,175,9310,67,8.3,7922,15.7,66.9,0.95,2991,17.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,140,30,750,0,160,8567,63,7.2,8200,16.6,86.5,0.95,2740,12.8
502,140,30,700,0,160,7932,61,7.2,8200,16.6,86.5,0.95,2774,12.2
503,140,30,700,0,160,9080,57,7.2,8200,16.6,86.5,0.95,2973,13.3
504,140,30,750,0,160,8836,58,7.2,8200,16.6,86.5,0.95,2925,12.7
505,140,30,750,0,160,7812,60,7.2,8200,16.6,86.5,0.95,2844,9.3

In [ ]:
df.iloc[158]

Stage Spacing         143.00
bbl/ft                 30.00
Well Spacing          700.00
Dip                     0.00
Thickness             156.00
Lateral Length       7860.00
Injection Rate         55.00
Porosity                6.40
ISIP                 7643.00
Water Saturation       19.10
Percentage of LG       32.90
Pressure Gradient       0.93
Proppant Loading     2928.00
EUR                    13.40
Name: 158, dtype: float64

In [ ]:
x_test

,Stage Spacing,bbl/ft,Well Spacing,Dip,Thickness,Lateral Length,Injection Rate,Porosity,ISIP,Water Saturation,Percentage of LG,Pressure Gradient,Proppant Loading
365,150,30,700,0,140,4500,58,6.6,5000,24.1,79.7,0.93,2888
313,141,30,800,0,164,8128,59,7.5,7783,17.2,64.4,0.95,2842
461,148,30,750,0,141,8276,58,6.6,5000,24.1,79.7,0.95,2451
158,143,30,700,0,156,7860,55,6.4,7643,19.1,32.9,0.93,2928
333,140,30,1000,0,168,8195,71,8.0,7643,15.7,79.7,0.95,2971
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,140,73,900,0,181,10257,72,8.3,7783,15.7,32.9,0.95,3079
423,155,30,700,0,154,7909,59,6.6,5000,24.1,79.7,0.75,1951
9,140,36,1000,0,166,7777,59,7.7,7643,17.4,37.1,0.94,2309
18,142,30,800,0,165,7042,71,7.7,7783,17.3,86.5,0.90,2623
364,147,30,700,1,140,11500,59,6.6,5000,24.1,79.7,0.93,2994

In [ ]:
RFR.predict(X_test)

array([12.52664149, 13.22496795, 11.71682846, 12.84416096, 13.6525381 ,
       12.4854907 , 12.23220893,  8.82453855,  9.2009914 , 13.77645525,
       10.70531732, 13.99129402, 10.56296486, 15.90513099, 12.23775454,
       11.09063245, 11.04277362, 13.93648824, 12.00023798, 12.42916144,
       12.26787039, 20.49870256, 13.64503565, 10.34796464, 12.12409472,
       10.34371971,  8.85748439, 12.67196643, 16.26960603, 13.26564305,
       12.43695132,  8.31191881, 14.48527536, 20.4063801 , 12.10069795,
       14.83412171, 14.89369882, 11.99069871, 13.22279852, 20.72034514,
       20.59031049, 11.33367613, 11.64993631, 12.45400549,  8.00684189,
       10.62456505, 12.16341525, 16.21016644, 12.77141572, 11.86990481,
       14.02392274, 13.56848501, 10.91700938, 12.27706946, 12.6737771 ,
       12.25781322, 15.33975095, 13.76397988, 12.13984396, 10.46649901,
        9.98811387, 11.86205917, 12.22045482, 12.42505729, 12.42334388,
       12.3943483 , 10.90914128, 11.90222501, 13.93182261, 12.17683055,
       13.9339885 ,  8.81429896, 11.88279803, 12.15998816, 12.10821616,
       11.98389183,  9.39989424,  9.82506328,  8.80334052, 12.65761119,
       11.84317228, 12.65089609, 12.06298479, 10.66745264, 11.74625416,
       12.1783032 , 12.78415277, 12.66106262, 13.31861595, 12.07323097,
       10.679814  , 14.65577765, 20.69644662,  9.06776453, 10.57938965,
       10.41845242, 12.26661981, 16.37639581, 10.53026919, 11.96023154,
       13.42743529, 12.60597789, 10.324965  ,  8.03397956, 20.57226789,
        9.57127175,  7.97314845, 11.33635766, 20.68970376,  8.06698578,
        8.66616343, 11.64705609, 10.29602097, 10.26695829, 14.34092151,
       12.08038861, 10.96270874,  9.89907829, 12.44739069,  8.72005509,
       13.67967331, 10.61526369, 15.06202442, 13.50760975, 20.87880716,
       10.67960914, 16.08074688, 12.11741278, 20.57425854, 12.7517263 ,
       11.85701691,  9.06646875, 15.40208463, 13.81160891, 16.96914171,
       10.43623309, 15.09696933, 12.22550636, 20.2913197 , 12.51539318,
       13.9599433 , 12.06364507, 15.3286982 , 12.26456897, 20.72627934,
       15.97274327,  9.17480001, 20.80011187,  9.577267  , 11.93229838,
       11.68077385, 20.80648061])

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, RFR.predict(X_test))

0.7471216951302888

In [ ]:
#everything is clear clear clearrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr